#BG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#BG.visible {
    opacity: 1;
}

#master-changelog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    overflow: hidden;
}

.box-changelog-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    border-end-end-radius: 50px;
    border-end-start-radius: 5px;
    border-start-end-radius: 5px;
    border-start-start-radius: 50px;
    max-width: 100%;
    width: 90%;
    overflow: hidden;
}

.boxes-changelog {
    display: flex;
    max-width: 900px;
}

.changelog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1pc;
    width: 95%;
    color: #fff;
}

#changelog-title h2 {
    text-align: center;
    background-color: #ffffff6b;
    color: #000;
    border-start-start-radius: 1pc;
    border-start-end-radius: 1pc;
}

#changelog-title h2:hover {
    background-color: #ffffff;
}

#note-change {
    margin-top: 10px;
    text-align: center;
    color: #000;
}

.changelog ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
    gap: 7px;
    background-color: #ffffff9d;
    color: #000000;
    border-radius: 25px;
}

.view-version {
    overflow: hidden;
}

.view-version img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.view-version:hover {
    filter: invert();
}

.noview-version {
    overflow: hidden;
}

.noview-version img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.noview-version:hover {
    filter: invert();
}

#change1-0 {
    background: linear-gradient(to bottom, rgb(170, 0, 160, 0.7), rgb(160, 0, 150, 0.7));
    display: flex;
    gap: 10px;
}

#change1-1 {
    background: linear-gradient(to bottom, rgb(160, 0, 150, 0.7), rgb(150, 0, 140, 0.7));
    display: flex;
    gap: 10px;
}

#change1-2 {
    background: linear-gradient(to bottom, rgb(150, 0, 140, 0.7), rgb(140, 0, 130, 0.7));
    display: flex;
    gap: 10px;
}

#change1-3 {
    background: linear-gradient(to bottom, rgb(140, 0, 130, 0.7), rgb(130, 0, 120, 0.7));
    display: flex;
    gap: 10px;
}

#change1-4 {
    background: linear-gradient(to bottom, rgb(130, 0, 120, 0.7), rgb(120, 0, 110, 0.7));
    display: flex;
    gap: 10px;
}

#change1-5 {
    background: linear-gradient(to bottom, rgb(120, 0, 110, 0.7), rgb(110, 0, 100, 0.7));
    display: flex;
    gap: 10px;
}

#change1-6 {
    background: linear-gradient(to bottom, rgb(110, 0, 100, 0.7), rgb(100, 0, 90, 0.7));
    display: flex;
    gap: 10px;
}

#change1-7 {
    background: linear-gradient(to bottom, rgb(100, 0, 90, 0.7), rgb(90, 0, 80, 0.7));
    display: flex;
    gap: 10px;
}

#change1-8 {
    background: linear-gradient(to bottom, rgb(90, 0, 80, 0.7), rgb(80, 0, 70, 0.7));
    display: flex;
    gap: 10px;
}

#change1-9 {
    background: linear-gradient(to bottom, rgb(80, 0, 70, 0.7), rgb(70, 0, 60, 0.7));
    display: flex;
    gap: 10px;
}

#change2-0 {
    background: linear-gradient(to bottom, rgb(70, 0, 60, 0.7), rgb(60, 0, 50, 0.7));
    display: flex;
    gap: 10px;
}

.portal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portal-image1 {
    width: 250px;
}

.portal-image2 {
    position: absolute;
    width: 180px;
    border-radius: 50%;
    opacity: 0.85;
}

/* Toggle Responsive */

@media (max-width: 800px) {
    #container {
        margin-top: 45px;
    }
    .changelog {
        gap: 0;
    }
}

@media (max-width: 600px) {
    .box-changelog-titles {
        width: 100%;
    }
}